<h1>Contracts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Created at</th>
      <th class="right"><i class="icon-cog valign-text-bottom"></i> Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.id %></td>
        <td><%= link_to contract.user_id, contract_path(contract) %></td>
        <td><%= contract.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_contract_path(contract), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', contract_path(contract), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_contract_path, :class => 'btn btn-primary' %>
