<% content_for :right_pane do %>
  <div class="span2">
    <div class="page-header">
      <h2>Instructions</h2>
    </div>
    <h3>Ajoutez un fichier: </h3>
    <p>
      Cliquer sur le bouton <strong>Choisissez un fichier</strong> puis sélectionnez un fichier dans la boite de dialogue et validez en appuyant sur <strong>Ouvrir</strong>.
    </p>
    <h3>Laisser un commentaire:</h3>
    <p>Inscrivez un commentaire dans le champ <strong>Commentaire</strong> prévu à cet effet</p>
    <h3>Envoyer :</h3>
    <p>
      Cliquer sur le bouton <strong>Ajouter un document</strong> pour effectivement lier le document au contrat.
    </p>
  </div>
<% end %>

<div class="page-header">
  <h2>
    Contrats
    <small> de <%= @user.name_tag %></small>
  </h2>
</div>

<%= simple_form_for [:administration, @user, @contract, @document], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <%= f.input :uploaded_file, label: "Fichier à ajouter", prompt: "salut" %>
  <div class="form-actions">
    <%= f.submit "Ajouter un document", :class => 'btn btn-primary' %>
  </div>
<% end %>
