<%= simple_form_for [:administration, @user, @contract, @document], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h4 class="alert-heading">Des erreurs ont été rencontrées</h4>
      <a class="close" data-dismiss="alert">&times;</a>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :uploaded_file, label: "Fichier à ajouter", prompt: "salut" %>
  <div class="form-actions">
    <%= f.submit "Ajouter un document", :class => 'btn btn-primary' %>
  </div>
<% end %>
