<% content_for :breadcrumbs do %>
<% content_for :breadcrumbs do %>
<ul class="breadcrumb">
  <li>
    <%= link_to "Administration", administration_users_path %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Utilisateur : #{@user.name_tag}", administration_user_path(@user) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Contrat : #{@contract.name.capitalize}", administration_user_contract_path(@user, @contract) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= link_to "Fichier : #{@document.file_name.capitalize}",  administration_user_contract_documents_path(@user, @contract, @document) %>
  </li>
</ul>
<% end %>
<% end %>

<div class="page-header">
  <h2>
    Document "<%= @document.file_name %>"
    <small> de <%= @user.name_tag %></small>
  </h2>
</div>
<% if @document.versions.empty? %>
  <%= @document.file_name  %>
<% else %>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>Fichier</th>
        <th>Taille</th>
        <th>Modifié</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @document.versions.each do |version| %>
        <tr>
          <td><%= User.find_by_id(version.user_id).email %></td>
          <td><%= version.modifications %></td>
          <td>
            <div class="btn-group pull-right">
              <%= link_to 'Télécharger', admin_download_url(@document), :class => 'btn btn-mini btn-info' %>
              <%= link_to 'Voir', administration_user_contract_document_path(@user, @contract, @document), :class => 'btn btn-mini' %>
              <%= link_to 'Editer', edit_administration_user_contract_document_path(@user, @contract, @document), :class => 'btn btn-mini' %>
              <%= link_to 'Supprimer', administration_user_contract_document_path(@user, @contract, @document), :method => :delete, :confirm => "Êtes vous sûr de vouloir supprimer le fichier #{@document.file_name.capitalize}", :class => 'btn btn-mini btn-danger' %>
            </div>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end %>
<div class="form-actions">
  <div class="btn-group">
    <%= link_to 'Retour', administration_user_contract_path(@user, @contract), :class => 'btn'  %>
    <%= link_to 'Supprimer Contrat', administration_user_contract_path(@user, @contract), :method => 'delete', :confirm => 'Etes vous sur ?', :class => 'btn btn-danger' %>
  </div>
</div>
