<% content_for :breadcrumbs do %>
<ul class="breadcrumb">
  <li>
      <i class="icon-home"></i>
    <%= link_to "Administration", administration_users_path %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Utilisateur : #{@user.name_tag}", administration_user_path(@user) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Contrat : #{@contract.name.capitalize}", administration_user_contract_path(@user, @contract) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= link_to "Fichier : #{@document.file_name.capitalize}",  administration_user_contract_documents_path(@user, @contract, @document) %>
  </li>
</ul>
<% end %>

<div class="page-header">
  <h2>
    Historique des différentes versions du fichier "<%= @document.file_name.capitalize %>"
  </h2>
</div>
<% if @document.versions.empty? %>
  <p>"<%= @document.file_name.capitalize %>" ne dispose que d’une seule version, celle en cours. 
    Si vous y apportez des modifications, vous pourrez la restaurer ultérieurement en 
    une version précédente via cette page.
  </p>
<% else %>
  <%= render :partial => 'documents' %>
<% end %>
<div class="form-actions">
    <%= link_to raw('<i class="icon-ban-circle"></i> Retour'), administration_user_contract_path(@user, @contract), :class => 'btn'  %>
              <%= link_to raw('<i class="icon-edit"></i> Mettre à jour le document'),
                edit_administration_user_contract_document_path(@user, @contract, @document),
                :class => "btn",
                :title => "Uploader une nouvelle version du fichier", :rel => "tooltip" %>

    <%= link_to raw('<i class="icon-trash icon-white"></i> Supprimer le Fichier'),
      administration_user_contract_document_path(@user, @contract, @document),
      :method => 'delete', :class => 'btn btn-danger pull-right',
      :confirm => "ATTENTION : Cette action supprimera le fichier original ainsi que toute son historique. 
                   Êtes vous sûr de vouloir supprimer le fichier #{@document.file_name.capitalize}" %>
</div>
