<% content_for :right_pane do %>
  <div class="page-header">
    <h2>Détails client</h2>
  </div>
  <address>
    <%= address_tag @user %>
  </address>
  <p>
    <%= details_tag @user %>
    <small>[<%= link_to "Modifier", edit_administration_user_path(@user) %>]</small>
  </p>
  <hr/>
  <h2>Statistiques</h2>
  <p>
    <b>Nombre de contrats : </b><%= @user.contracts.size %><br/>
    <b>Nombre de fichiers : </b><%= @user.file_number %><br/>
    <b>Espace disque : </b><%= number_to_human_size @user.total_disk_space %>
  </p>
<% end %>

<% title = raw("Contrats<small> appartenant à #{h(@user.company_tag)}</small>") +
  link_to(raw('<i class="icon-plus-sign icon-white"></i> Nouveau contrat'),
          new_administration_user_contract_path(@user),
          :class => 'btn btn-primary pull-right',
          :title => "Créer un nouveau contrat",
          :rel => "tooltip") %>

<%= render :partial => "breadcrumbs", :locals => { :title => title } %>

<% unless @contracts.blank? %>
  <%= paginate @contracts %>
  <% @contracts.each_with_index do |contract, index| %>
      <h3 class="h3-border-bottom">
        <%= "#{index+1}. contrat #{contract.name.capitalize}" %>
        <div class="btn-group pull-right">
                <%= link_to raw('<i class="icon-eye-open"></i>'),
                  administration_user_contract_path(@user, contract),
                  :title => "Voir les détails du contrat (fichiers)", :rel => "tooltip",
                  :class => "btn btn-small" %>
                <%= link_to raw('<i class="icon-edit"></i>'),
                  edit_administration_user_contract_path(@user, contract),
                  :title => "Modifier le contrat", :rel => "tooltip",
                  :class => "btn btn-small" %>
                <%= link_to raw('<i class="icon-trash icon-white"></i>'),
                  administration_user_contract_path(@user, contract),
                  :title => "Supprimer le contrat", :rel => "tooltip",
                  :method => :delete, :class => "btn btn-small btn-danger",
                  :confirm => "Êtes vous sur de vouloir supprimer le contrat #{contract.name} ?" %>
                <%= link_to raw('<i class="icon-plus-sign icon-white"></i>'),
                  new_administration_user_contract_document_path(@user,contract),
                  :title => "Ajouter un fichier", :rel => "tooltip",
                  :class => "btn btn-small btn-inverse" %>
        </div>
      </h3>
    <% if contract.documents.empty? %>
      Aucun fichier : <%= link_to 'Ajouter un fichier', new_administration_user_contract_document_path(@user, contract) %>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fichier</th>
          <th>Taille</th>
          <th class="center">Type</th>
          <th>Modifié le</th>
          <th>Modifié par</th>
          <th class="center">Hist.</th>
          <th class="right"><i class="icon-cog valign-text-bottom"></i> Actions</th>
        </tr>
      </thead>
      <tbody>
        <% contract.documents.each do |document| %>
          <tr>
            <td>
              <%= image_tag(get_image_from_ext(document.file_name)) %>
              <%= link_to document.file_name.capitalize, administration_user_contract_document_path(@user, contract, document), :class => "valign-top" %>
            </td>
            <td><%= number_to_human_size document.uploaded_file_file_size %></td>
            <td class="center"><%= document.file_extension.upcase %></td>
            <td>Il y a <%= distance_of_time_in_words_to_now document.created_at %></td>
            <td><%= User.find_by_id(document.create_by).name_tag %></td>
            <td class="center"><%= document.versions.size+1 %></td>
            <td>
              <div class="btn-group pull-right">
                <%= link_to raw('<i class="icon-download icon-white"></i>'), admin_download_url(document),
                  :class => "btn btn-info btn-mini",
                  :title => "Télécharger le fichier", :rel => "tooltip" %>
                <%= link_to raw('<i class="icon-eye-open"></i>'),
                  administration_user_contract_document_path(@user,contract,document),
                  :class => "btn btn-mini",
                  :title => "Voir le fichier", :rel => "tooltip" %>
                <%= link_to raw('<i class="icon-edit"></i>'),
                  edit_administration_user_contract_document_path(@user, contract, document),
                  :class => "btn btn-mini",
                  :title => "Modifier le fichier", :rel => "tooltip" %>
                <%= link_to raw('<i class="icon-trash icon-white"></i>'),
                  administration_user_contract_document_path(@user, contract, document),
                  :method => :delete, :class => "btn btn-danger btn-mini",
                  :title => "Supprimer le fichier", :rel => "tooltip",
                  :confirm => "Êtes vous sûr de vouloir supprimer le fichier #{document.file_name.capitalize}" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <hr/>
<% end %>
<% else %>
  <p>
    <i class="icon-info-sign valign-middle"></i>
    Aucun contrat : <%= link_to 'Ajouter un contrat', new_administration_user_contract_path(@user) %>
  </p>
<% end %>
