<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Nom</th>
      <th class="center"># Fichiers</th>
      <th class="center">Espace disque</th>
      <th class="center">Crée le</th>
      <th class="center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user.contracts.order("created_at DESC").each_with_index do |contract, index| %>
      <tr>
        <td><%= "#{index+1}." %></td>
        <td><%= link_to contract.name.capitalize, user_contract_path(@user, contract) %></td>
        <td class="center"><%= contract.documents.size %></td>
        <td class="center"><%= number_to_human_size contract.contract_disk_space %></td>
        <td class="center">
          <span rel="tooltip" title="Crée le <%= I18n.localize(contract.created_at, :format => "%d %B %Y")  %>">
            Il y a <%= distance_of_time_in_words_to_now(contract.created_at) %>
            (Le <%= I18n.localize(contract.created_at, :format => "%d %B %Y") %>)
          </span>
        </td>
        <td class="center">
          <div class="btn-group pull-right">
            <%= link_to raw('<i class="icon-eye-open"></i>'), user_contract_path(@user, contract),
              :class => "btn btn-mini valign-top center",
              :title => "Voir les détails du contrat et les fichiers associés", :rel => "tooltip"
            %>
          </div>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

