<h1>Inscription</h1>

<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <legend>Ajout d'un nouveau client</legend>

    <%= f.input :email, label: "Adresse email", hint: "Cette adresse sera votre identifiant de connexion." %>
    <%= f.input :password, label: "Mot de passe" %>
    <%= f.input :password_confirmation, label: "Confirmer le mot de passe" %>
    <%= f.error :base %>
    <div class="form-actions">
      <%= f.button :submit, label: "Créer", :class => 'btn-primary' %>
      <%= link_to 'Annuler', user_path(@user), :type => :reset, :class => "btn btn-danger" %>
    </div>


  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h4 class="alert-heading"></h4>
      <a class="close" data-dismiss="alert">&times;</a>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'password_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'password_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :role, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :role, %w[admin user], :class => 'password_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Sign Up", :class => 'btn btn-primary' %>
    </div>

  </fieldset>

<% end %>
