<% content_for :right_pane do %>
  <h1>Mes informations</h3>
  <hr/>
  <address>
    <%= address_tag @user %>
  </address>
  <p>
    <%= details_tag @user %>
    <small>[<%= link_to "Modifier", edit_user_path(@user) %>]</small>
  </p>

  <h3>Statistiques</h3>
  <hr/>
  <p>
    <%= contract_details_tag @user %>
  </p>
  <hr/>
<!--
  <p>
    <strong>TODO : app/view/users/show.html.erb</strong>
    <br/>
    <strong>Dernière Connexion</strong> : TODO
    <br/>
    <strong>Derniers fichiers ajoutés</strong> : TODO
  </p>
-->
<% end %>

<% content_for :breadcrumbs do %>
<ul class="breadcrumb">
  <li class="active">
    <i class="icon-home"></i>
    <%= link_to "Mes contrats", user_path(current_user) %>
  </li>
</ul>
<% end %>

<h1>Mes contrats</h1>
<hr/>

<% if @user.contracts.empty? %>
  <i class="icon-info-sign valign-middle"></i> Aucun contrat : veuillez contacter 
  <%= mail_to "paul.roullet@alphedys.fr", "Paul ROULLET", :encode => "hex" %> 
  pour plus d'informations.
<% else %>
  <%= render :partial => 'contracts' %>
<% end -%>
