<%= render :partial => 'breadcrumbs' %>

<% title = raw("Contrat \"#{@contract.name}\" <small> de #{@user.company_tag}</small>") +
            link_to(raw('<i class="icon-trash icon-white"></i> Supprimer Contrat '),
              administration_user_contract_path(@user, @contract), :method => 'delete',
              :confirm => 'Etes vous sur ?', :class => 'btn btn-danger pull-right')
%>
<%= render :partial => 'header', :locals => { :title => title }%>

<% if @contract.documents.empty? %>
  Aucun fichier : <%= link_to "Ajouter un fichier", new_administration_user_contract_document_path(@user,@contract) %>
<% else %>
  <table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th>Fichier</th>
        <th>Taille</th>
        <th>Modifié le</th>
        <th>Modifié par</th>
        <th class="right"><i class="icon-cog valign-text-bottom"></i> Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contract.documents.each_with_index do |document, index| %>
        <tr>
          <td><%= "#{index+1}." %></td>
          <td>
            <%= image_tag(get_image_from_ext(document.file_name)) %>
            <%= link_to document.file_name.capitalize,
              administration_user_contract_document_path(@user, @contract, document),
              :class => "valign-top" %>
          </td>
          <td><%= number_to_human_size(document.uploaded_file_file_size) %></td>
          <td>Il y a <%= distance_of_time_in_words_to_now document.uploaded_file_updated_at %></td>
          <td><%= User.find_by_id(document.create_by).name_tag %></td>
          <td>
            <div class="btn-group pull-right">
              <%= link_to raw('<i class="icon-download icon-white"></i>'), admin_download_url(document),
                :class => "btn btn-info btn-mini",
                :title => "Télécharger la version la plus récente du fichier", :rel => "tooltip" %>
              <%= link_to raw('<i class="icon-eye-open"></i>'),
                administration_user_contract_document_path(@user,@contract,document),
                :class => "btn btn-mini",
                :title => "Voir l'historique du fichier", :rel => "tooltip" %>
              <%= link_to raw('<i class="icon-edit"></i>'),
                edit_administration_user_contract_document_path(@user, @contract, document),
                :class => "btn btn-mini",
                :title => "Mettre à jour le fichier", :rel => "tooltip" %>
              <%= link_to raw('<i class="icon-trash icon-white"></i>'),
                administration_user_contract_document_path(@user, @contract, document),
                :method => :delete, :class => "btn btn-danger btn-mini",
                :title => "Supprimer le fichier", :rel => "tooltip",
                :confirm => "Êtes vous sûr de vouloir supprimer le fichier #{document.file_name.capitalize}" %>
            </div>
          </td>
        </tr>
      <% end -%>
    </tbody>
  </table>
<% end %>
<div class="form-actions">
    <%= link_to raw('<i class="icon-edit"></i> Modifier le contrat'), edit_administration_user_contract_path(@user, @contract), :class => 'btn valign-bottom' %>
    <%= link_to raw('<i class="icon-plus-sign icon-white valign-text-bottom"></i> Ajouter un fichier'), new_administration_user_contract_document_path(@user,@contract), :class => "btn btn-primary" %>
    <%= link_to raw('<i class="icon-ban-circle"></i> Retour'), administration_user_path(@user), :class => 'btn pull-right'  %>
</div>
