<%= simple_form_for [current_user, @contract, @document], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <% if current_user.errors.any? %>
    <div class="alert alert-error">
      <h4 class="alert-heading">Des erreurs ont été rencontrées</h4>
      <a class="close" data-dismiss="alert">&times;</a>
      <ul>
        <% current_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :uploaded_file, label: "Fichier à ajouter", prompt: "Mettre le fichier à jour" %>
  <div class="form-actions">
    <%= f.submit btn, :class => 'btn btn-primary' %>
    <%= link_to raw('<i class="icon-ban-circle"></i> Retour'), user_contract_path(current_user, @contract), :type => :reset, :class => "btn btn" %>
  </div>
<% end %>
