<% content_for :breadcrumbs do %>
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <%= link_to "Mes contrats", user_path(current_user) %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Contrat : #{@contract.name.capitalize}", user_contract_path(current_user, @contract) %>
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= link_to "Fichier : #{@document.file_name.capitalize}", user_contract_document_path(current_user, @contract, @document) %>
  </li>
</ul>
<% end %>

<div class="page-header">
  <h2>
    Historique des différentes versions du fichier "<%= @document.file_name.capitalize %>"
  </h2>
</div>

<% if @document.versions.empty? %>
  <p>"<%= @document.file_name.capitalize %>" ne dispose que d’une seule version, celle en cours. 
    Si vous y apportez des modifications, vous pourrez la restaurer ultérieurement en 
    une version précédente via cette page.</p>
<% else %>

  <%= render :partial => 'documents' %>

<% end -%>
<div class="form-actions">
    <%= link_to raw('<i class="icon-ban-circle"></i> Retour'), user_contract_path(current_user, @contract), :class => 'btn'  %>
              <%= link_to raw('<i class="icon-edit"></i> Mettre à jour le document'),
                edit_user_contract_document_path(current_user, @contract, @document),
                :class => "btn",
                :title => "Uploader une nouvelle version du fichier", :rel => "tooltip" %>

    <%#= link_to raw('<i class="icon-trash icon-white"></i> Supprimer le Fichier'),
      user_contract_document_path(current_user, @contract, @document),
      :method => 'delete', :confirm => 'Etes vous sur ?', :class => 'btn btn-danger pull-right' %>
</div>
